* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
.col1{
    width: 50%;
}
.col2{
    width: 50%;
}

#one:hover{
        opacity: 0.6;
        filter: alpha(opacity=50);
    }