* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}
.col_1{
    width: 50%;
}
.col_2{
    width: 50%;
    padding-left: 20px;
}
.col_3{
    width: 50%;
}
.col_4{
    width: 50%;
    padding-left: 20px;
}